:root {
  --Primary: #2c2c2c;
  --Secondary: #;
  --Tertiary: #;
  --Lorem: #e0e0e0;
}

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Primary);
  height: 100vh;
}
