:root {
  --Primary: #323232;
  --Secondary: #;
  --Tertiary: #;
  --Lorem: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Primary);
  height: 100vh;
}
