.heroText {
  margin-top: 3rem;
  color: #212121;
  text-align: center;
  font-family: HeadLineA;
  font-size: 600px;
  font-style: normal;
  font-weight: 400;
  line-height: 73.111%;
  letter-spacing: 6px;
  background-image: url("./text-fill-img.jpeg");
  background-position: center bottom;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 1.2rem;
  transition: transform 0.3s ease-out;
}

p {
  font-size: 2rem;
  color: bisque;
}
